h1{
    background-color: black;
    color: cadetblue;
}
h2{
    background-color: brown;
    color: burlywood;
}
h3{
    background-color: dimgrey;
    color: black;
}
p{
    background-color: darkslateblue;
    color: burlywood;
}